<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <nav class="navbar">
        <div class="quote">
            <p>“Sometimes you win and sometimes you learn.”</p>
               <h5>― Robert T. Kiyosaki, Rich Dad, Poor Dad</h5> 
        </div>
        <div class="buttonbar">
            <a href="{%url 'root:home' %}" class="btn">Home</a>
             <a href="{%url 'root:wishlistview' %}"class="btn">Wishlist</a>
        </div>
        <form method="post" class="searchform" action="{%url 'root:search'%}">
            {%csrf_token%}
            <input type="text" placeholder="Search any books..." name="searchtext" class="col-7 rounded search-input" >
            <input type="submit" class="btn col-4 search-btn" value="Search">
        </form>
    </nav>
</head>
<body>

    {%block content%}
    {%endblock%}
</body>
</html>