{%extends "base.html"%}
{% block content %}

{%for lists in ip%}
<div style="display:flex;justify-content:center;margin:25px 10px">
<h2>{{lists.list_name}}</h2>
</div>
<div class="top">

{%for book in lists.books%}
{% if book.rank == 5 %}
{%else%}
    <div class="card container">
        <img class="card-img-top main-img" src="{{book.book_image}}"alt="Card image cap">
        <div class="card-body">
          <div class="book-title">
          <h5 class="card-title" style="font-size: 30px;overflow:hidden;">{{book.title}}</h5>
        </div><h6>by
            {{book.author}}</h6>
        </div>

        <div class="card-body links">
            {%for i in book.buy_links|slice:":1"%}
            <a href="{{i.url}}" class="card-link ind-btn">Buy on amazon</a>

            {%endfor%}
          <a href="{%url 'root:wishlist' book.primary_isbn13 book.title%}" class="card-link ind-btn">Add to WishList</a>
          <a href="{%url 'root:detail' book.title%} " class="card-link ind-btn">details</a>
        </div>
      </div>
    {%endif%}
{% endfor %}    
</div>

{% endfor %}

{% endblock %}